<html>
	<head>
		<% include heads/head %>
	</head>
<body>
<% include heads/header %>
<h3 id="uel"> entre na sala </h3>
<p id="on"></p>
<p id="count"></p>
<hr>
<div class="chat" id="chat"></div>
<div id="inp">
<input placeholder="digite seu apelido" id="msg"><button id="env" onclick='login()'>entrar</button>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
</script>

<div class="dev">
<p class="dev">Reinan® 2019 dev.</p>
</div>
</body>
</html>
