<!DOCTYPE HTML>

<html ng-app="app" ng-controller="login">


    <head>
    <% include heads/head %>
   </head>
    <body>
    
        <h1>
            {{title}}<p class='material-icons'>book</p>
        </h1>
<br />
<br />
        <div class="center">
<form method='post' action='login'>
        <label>
        <p><b>Aluno: </b> {{user.name}}</p>
        <input type='name' ng-model=user.name name='student' placeholder='insira seu nome' required>
        </label> 
         <br />  
<br />
<label>
        <p><b>e-mail: </b> {{user.email}}</p>
        <input type='email' ng-model=user.email name='email' placeholder='insira seu email' required>
        </label> 
         <br />  
  <br />
        <label>
            <p><b>Escola :</b> {{user.school}}</p>
            <input type='text' ng-model=user.school name='school' placeholder="insira o nome da sua Escola" required>
        </label>
        <br />
        <hr>
        <br />
        
        <button type='submit'><b>entrar</b></button>
        </form>
        </div>
<script src='app.js'></script>
 </script>
    </body>
</html>
