<!DOCTYPE HTML>
<html>
  <head> <% include heads/head %>  </head>
<body>
<% include heads/header %>
<br />
<br />
<div class="center">
<div id='painel'>
<i class='material-icons'>face</i>
<p><b>aluno:</b> <p id='aluno'><%=student%></p></p>
<p><b>escola:</b> <p id='escola'><%=school%></p></p>
<p><b>e-mail:</b> <p id='email'><%=email%></p></p>
</div>
</div>
</body>
</html>
