<!DOCTYPE HTML>
<html>
  <head> <% include heads/head %>  </head>
<body>
<% include heads/header %>
<br />
<br />
<div class="center">
<div id='painel'>
<i class='material-icons'>face</i>
<p><b>aluno:</b><%=student%></p>
<p><b>escola:</b> <%=school%></p>
<p><b>e-mail:</b><%=email%></p>
</div>
</div>
<script src='app.js'></script>
</body>
</html>
