<!DOCTYPE HTML>
<html>
  <head> <% include heads/head %>  </head>
<body>
<% include heads/heade %>
<br />
<br />
<div class="center">
<div id='painnel'>
<i class='material-icons'>face</i>
<p><b>e-mail:</b> <p id='email'><%=email%></p></p>
<hr />
<div id='lateral' data-transition='slide' class='lateral'>
<p id='questions' ><i class='material-icons md-200'>reorder</i>questões</p>
 <hr>
<p id='chatt'><i class='material-icons'>email</i>chat</p>
</div>

</div>
</div>
</body>
</html>
