body{
    margin:0;
    text-align:center;
    background: linear-gradient(120deg, black, #242a66, #3f2466, #582466, #662460);
background-size: 1000% 1000%;

-webkit-animation: AnimationName 15s ease infinite;
-moz-animation: AnimationName 15s ease infinite;
animation: AnimationName 15s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:0% 37%}
    50%{background-position:100% 64%}
    100%{background-position:0% 37%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 37%}
    50%{background-position:100% 64%}
    100%{background-position:0% 37%}
}
@keyframes AnimationName {
    0%{background-position:0% 37%}
    50%{background-position:100% 64%}
    100%{background-position:0% 37%}
}
    font-color: white;
    font-size: 90%;
	font-family: Roboto;
}

title{
	font-size:120%;
	}
	
.esquerd{
	text-align:right;
	}
.direit{
	text-align:left;
	}

.icone{
	border-radius: 100px 100px;
	height: 40px;
	width:50px;
}


h1{
	padding-top:1%;
    padding-bottom:1%;
    margin:0;
    text-align:center;
	font-size:200%;
    color:white;
background: linear-gradient(270deg, #261058, #2e0095);
background-size: 400% 400%;

-webkit-animation: AnimationName 30s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
    
}


.lateral{
    text-align: left;
	

background: linear-gradient(270deg, #261058, #2e0095);
background-size: 400% 400%;

-webkit-animation: AnimationName 30s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

    width:30%;
    margin:0;
    border-radius:0px 0px 15px;
}

.green{
	color:green;
	font-weight: bold;
}

.center{
	margin:2%;
	left: 3%;
	top:10%;
    text-align:center;
    float:center;
    display:block;
    position:relative ;
    border-radius: 15px 20px;
    border-color: yellow;
    width:90%;
    background: linear-gradient(157deg, #1b1e83, #0a0fae, #0008ff, #0000CC, #3333FF);
background-size: 1000% 1000%;

-webkit-animation: AnimationName 30s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:43% 0%}
    50%{background-position:58% 100%}
    100%{background-position:43% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:43% 0%}
    50%{background-position:58% 100%}
    100%{background-position:43% 0%}
}
@keyframes AnimationName {
    0%{background-position:43% 0%}
    50%{background-position:58% 100%}
    100%{background-position:43% 0%}
}
}

p{
    color:white;
    font-size: 100%;
	margin:0;
}

input{margin:0;}

hr{margin:0;}
.met{
	text-align:center;
	width:60%;
	padding-left: 10%;
}
button{
    margin:0;
    border-radius:25px 15px;
    padding-top:1%;
    padding-bottom:1%;
    padding-left:5%;
    padding-right:5%;
    font-size: 120%;
    background-color: cyan;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: cyan;
    border-top-color: cyan;
}

img{
	height: 12%;
	width: 32%;
}

.opt{
	height:10;
	width:8;
}


.latequest{
	float: 'left';
	rigth: 50%;
	left: 20%;
}