<!DOCTYPE html>
<html ng-app="app" ng-controller="login">
<head>
<% include heads/porra %>
</head>
<body>
<% include heads/header %>
<br />

<!--login-->
<div id='login'  class="center">
<form id='vamos'>
        <label>
        <p><b>Aluno: </b> {{user.name}}</p>
        <input type='name' id='nomme' ng-model=user.name name='student' placeholder='insira seu nome' required>
        </label> 
         <br />  
<br />
<label>
        <p><b>e-mail: </b> {{user.email}}</p>
        <input type='email' id='emmail' ng-model=user.email name='email' placeholder='insira seu email' required>
        </label> 
         <br />  
  <br />
        <label>
            <p><b>sala :</b> {{user.school}}</p>
            <input type='text' id='salla' ng-model=user.school name='sala' placeholder="insira a sua sala" required>
        </label>
        <br />
        <hr>
        <br />
        
        <button id='start' type=submit><b>começar o questionario</b></button>
        </form>
        </div>

<!--painel literalmente-->
<div id="painel" class='center'>

<p id="titleQuestion"><b class='title'>questão 1</b></p>
<hr>

<!--Div icones-->
<div id class='direit'>
<img src="/img/video.png" id='video_0' class='icone'></img>
<img src='/img/simulador.png' id='simulador_0' class='icone'></img>
<img src='/img/formula.png' id='formula_0' class='icone'></img>

</div>
<div id='painell'></div>
<form id='test' action='/resp'>


<p>_____________________</p>


<br>
<div id='questao'></div>

<br>
<br>
</form>
<div class='direit'>
<button class='direit' id='ante'>anterior</button>
</div>

<div class='esquerd'>
<button id='proxim'>próximo</button>
</div>
<small id='ale'><p>não clique em enviar antes de responder as questões</p></small>
<button id='envResp'>enviar</button>
</div>
</div>

</body>
</html>
