<!DOCTYPE html>
<head>
<% include heads/porra %>
</head>
<body>
<% include heads/header %>
<br />


<div id="video" class='center'>

<p id="titleQuestion"><b class='title'>quest찾o 1</b></p>
<hr>

<!--Div icones-->
<div id class='direit'>
<img src="/img/video.png" id='video_0' class='icone'></img>
<img src='/img/simulador.png' id='simulador_0' class='icone'></img>
<img src='/img/formula.png' id='formula_0' class='icone'></img>

</div>
<div id='painell'></div>
<form id='test' action='/resp'>


<p>_____________________</p>


<br>
<div id='questao'></div>

<br>
<br>
</form>
<div class='direit'>
<button class='direit' id='ante'>anterior</button>
</div>

<div class='esquerd'>
<button id='proxim'>pr처ximo</button>
</div>
<small id='ale'><p>n찾o clique em enviar antes de responder as quest천es</p></small>
<button id='envResp'>enviar</button>
</div>
</div>

</body>
</html>
