<!DOCTYPE html>
<html ng-app='vidi'>
<head>
<% include heads/head %>
</head>
<body ng-controller='video'>
<% include heads/header %>
<br />

<div id="video" class='center'>
<div><p>{{title}}</p></div>
<hr>
<p id='curiositys'><b>Curiosidades</b>
<i class='material-icons'></i>
</b></p>
<div id='videoAula'>
</div>


</body>
</html>
